{% extends 'base.html' %}
{% block title %}Add Post{% endblock %}
{% block content %}
    <h1>Add New Post</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <label>Title: {{ form.title }}</label><br><br>
        <label>Content: {{ form.content }}</label><br><br>
        <label>Image: {{ form.image }} (PNG, JPG, JPEG, GIF)</label><br><br>
        <label>Secret Key: <input type="text" name="secret_key" required></label><br><br>
        <input type="submit" value="Add Post">
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}